<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FanPixApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9C39D091EE1F37B00419D45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C39D231EE1F37B00419D45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C39D2E1EE1F37B00419D45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
